<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Surname" value="Ярошевич"/>
    <add key="Name" value="Максим"/>
    <add key="LastName" value="Витальевич"/>
    <add key="PassportNum" value="МР3451467"/>
    <add key="Gender" value="Мужской"/>
    <add key="NumberOfPhone" value="375297831671"/>
    <add key="Birthday" value="17111999"/>
  </appSettings>
</configuration>