<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value="Минск"/>
    <add key="DepartureCityWithStation" value="Минск-Северный"/>
    <add key="ArrivalCity" value="Москва"/>
    <add key="Login" value="yaroshevichmaks@gmail.com"/>
    <add key="Password" value="Yaroshevich1999"/>
    <add key="DateDeparture" value="22.12.2019"/>
    <add key="PastDate" value="30.12.2019" />
  </appSettings>
</configuration>